<div class="mat-padding device-dict-wrapper" fxLayout="column" style="min-width: 560px;">
  <form [formGroup]="entityForm">
    <fieldset [disabled]="(isLoading$ | async) || !isEdit">
      <mat-form-field class="mat-block">
        <mat-label translate>device-mng.code</mat-label>
        <input matInput formControlName="code" required>
        <mat-error *ngIf="entityForm.get('code').hasError('required')">
          {{ 'device-mng.code-required' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mat-block">
        <mat-label translate>device-mng.name</mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="entityForm.get('name').hasError('required')">
          {{ 'device-mng.name-required' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ 'device-mng.basic-info' | translate }}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field class="mat-block">
          <mat-label translate>device-mng.device-type</mat-label>
          <input matInput formControlName="type">
        </mat-form-field>
        <mat-form-field class="mat-block">
          <mat-label translate>device-mng.supplier</mat-label>
          <input matInput formControlName="supplier">
        </mat-form-field>
        <mat-form-field class="mat-block">
          <mat-label translate>device-mng.device-type</mat-label>
          <input matInput formControlName="type">
        </mat-form-field>
        <mat-form-field class="mat-block">
          <mat-label translate>device-mng.version</mat-label>
          <input matInput formControlName="version">
        </mat-form-field>
        <mat-form-field class="mat-block">
          <mat-label translate>device-mng.guarantee</mat-label>
          <input matInput formControlName="warrantyPeriod">
        </mat-form-field>
        <tb-image-input
          label="{{ 'device-mng.pciture' | translate }}"
          maxSizeByte="524288"
          formControlName="picture"
        ></tb-image-input>
      </mat-expansion-panel>
      <mat-expansion-panel
        [expanded]="customPropExpanded"
        (opened)="customPropExpanded = true"
        (closed)="customPropExpanded = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>{{ 'device-mng.device-prop' | translate }}</mat-panel-title>
          <mat-panel-description fxFlex fxLayout="row" fxLayoutAlign="end center">
            <mat-icon
              *ngIf="customPropExpanded"
              class="material-icons"
              matTooltip="{{ 'device-mng.add-device-prop' | translate }}"
              matTooltipPosition="above"
              (click)="addDeviceProperty($event)"
            >add</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div 
          *ngFor="let propertyControl of devicePropFormArray().controls; let $index = index"
          formArrayName="propertyList"
          fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px"
        >
          <ng-container [formGroupName]="$index">
            <mat-form-field class="mat-block">
              <mat-label translate>device-mng.attr-name</mat-label>
              <input matInput [formControl]="propertyControl.get('name')">
            </mat-form-field>
            <mat-form-field class="mat-block" fxFlex>
              <mat-label translate>device-mng.attr-content</mat-label>
              <input matInput [formControl]="propertyControl.get('content')">
            </mat-form-field>
            <button
              mat-icon-button
              matTooltip="{{ 'action.delete' | translate }}"
              matTooltipPosition="above"
              (click)="removeDeviceProperty($index)"
            >
              <mat-icon class="material-icons" >delete</mat-icon>
            </button>
          </ng-container>
        </div>
        <div *ngIf="devicePropFormArray().controls.length === 0" fxFlex fxLayoutAlign="center">
          {{ 'device-mng.add-device-prop-tip' | translate }}
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel
        [expanded]="groupPropExpanded"
        (opened)="groupPropExpanded = true"
        (closed)="groupPropExpanded = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>{{ 'device-mng.device-data' | translate }}</mat-panel-title>
          <mat-panel-description fxFlex fxLayout="row" fxLayoutAlign="end center">
            <mat-icon
              *ngIf="groupPropExpanded && deviceDataGroupFormArray().controls.length > 0"
              class="material-icons"
              matTooltip="{{ 'device-mng.add-device-data' | translate }}"
              matTooltipPosition="above"
              (click)="addDeviceData($event)"
            >add</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- <nz-tabset [(nzSelectedIndex)]="currentTabIndex" nzType="editable-card" (nzAdd)="addDeviceDataGroup()" (nzClose)="closeTab($event)">
          <nz-tab *ngFor="let tab of tabs" nzClosable [nzTitle]="tab">Content of {{ tab }}</nz-tab>
        </nz-tabset> -->
        <div *ngIf="deviceDataGroupFormArray().controls.length === 0" fxFlex fxLayoutAlign="center">
          {{ 'device-mng.add-device-data-group-tip' | translate }}
        </div>
      </mat-expansion-panel>
    </fieldset>
  </form>
</div>
