<mat-form-field>
  <mat-label>{{ 'device-mng.code' | translate }}</mat-label>
  <input type="text" matInput [(ngModel)]="entitiesTableConfig.componentsData.code" />
  <button
    *ngIf="entitiesTableConfig.componentsData.code"
    matSuffix mat-icon-button aria-label="Clear"
    (click)="onClear('code')"
  >
    <mat-icon class="material-icons">close</mat-icon>
  </button>
</mat-form-field>
<mat-form-field>
  <mat-label>{{ 'device-mng.name' | translate }}</mat-label>
  <input type="text" matInput [(ngModel)]="entitiesTableConfig.componentsData.name" />
  <button
    *ngIf="entitiesTableConfig.componentsData.name"
    matSuffix mat-icon-button aria-label="Clear"
    (click)="onClear('name')"
  >
    <mat-icon class="material-icons">close</mat-icon>
  </button>
</mat-form-field>
<mat-form-field>
  <mat-label>{{ 'device-mng.supplier' | translate }}</mat-label>
  <input type="text" matInput [(ngModel)]="entitiesTableConfig.componentsData.supplier" />
  <button
    *ngIf="entitiesTableConfig.componentsData.supplier"
    matSuffix mat-icon-button aria-label="Clear"
    (click)="onClear('supplier')"
  >
    <mat-icon class="material-icons">close</mat-icon>
  </button>
</mat-form-field>
<div class="action-btns">
  <button mat-flat-button color="primary" (click)="entitiesTableConfig.table.updateData()">
    {{ 'action.search' | translate }}
  </button>
</div>