<div *ngIf="utils.hasPermission('action.edit')" class="tb-details-buttons" fxLayout.xs="column">
  <button mat-raised-button color="primary"
          [disabled]="(isLoading$ | async)"
          (click)="onEntityAction($event, 'setDefault')"
          [fxShow]="!isEdit && !entity?.isDefault">
    {{'device-mng.set-default-device-dict' | translate }}
  </button>
</div>
<div class="mat-padding device-dict-wrapper" fxLayout="column">
  <form [formGroup]="entityForm">
    <fieldset [disabled]="(isLoading$ | async) || !isEdit">
      <fieldset [disabled]="!!entityForm.get('id').value">
        <mat-form-field class="mat-block">
          <mat-label translate>device-mng.code</mat-label>
          <input matInput formControlName="code" required>
          <mat-error *ngIf="entityForm.get('code').hasError('required')">
            {{ 'device-mng.code-required' | translate }}
          </mat-error>
        </mat-form-field>
      </fieldset>
      <mat-form-field class="mat-block">
        <mat-label translate>device-mng.name</mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="entityForm.get('name').hasError('required')">
          {{ 'device-mng.name-required' | translate }}
        </mat-error>
      </mat-form-field>
      <!--基本信息-->
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ 'device-mng.basic-info' | translate }}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field class="mat-block">
          <mat-label translate>device-mng.device-type</mat-label>
          <input matInput formControlName="type">
        </mat-form-field>
        <mat-form-field class="mat-block">
          <mat-label translate>device-mng.supplier</mat-label>
          <input matInput formControlName="supplier">
        </mat-form-field>
        <mat-form-field class="mat-block">
          <mat-label translate>device-mng.model</mat-label>
          <input matInput formControlName="model">
        </mat-form-field>
        <mat-form-field class="mat-block">
          <mat-label translate>device-mng.version</mat-label>
          <input matInput formControlName="version">
        </mat-form-field>
        <mat-form-field class="mat-block">
          <mat-label translate>device-mng.guarantee</mat-label>
          <input matInput formControlName="warrantyPeriod">
        </mat-form-field>
        <mat-form-field class="mat-block">
          <mat-label translate>device-mng.rated-capacity</mat-label>
          <input matInput formControlName="ratedCapacity" required>
          <mat-error *ngIf="entityForm.get('ratedCapacity').hasError('required')">
            {{ 'device-mng.rated-capacity-required' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="mat-block">
          <mat-label translate>device-mng.comment</mat-label>
          <input matInput formControlName="comment">
        </mat-form-field>
        <div style="padding: 0.5em 0;">
          <mat-label translate style="color: #666; font-size: 13px; font-weight: 400; margin-right: 16px;">device-mng.is-core-device</mat-label>
          <mat-radio-group formControlName="isCore">
            <mat-radio-button [value]="true">{{ 'action.yes' | translate }}</mat-radio-button>
            <mat-radio-button [value]="false" style="margin-left: 16px;">{{ 'action.no' | translate }}</mat-radio-button>
          </mat-radio-group>
        </div>
        <tb-image-input
          label="{{ 'device-mng.picture' | translate }}"
          maxSizeByte="524288"
          formControlName="picture"
        ></tb-image-input>
        <tb-file-input
          *ngIf="isEdit"
          formControlName="deviceModel"
          [existingFileName]="entityForm.get('fileName').value"
          [workFromFileObj]="true"
          label="{{ 'device-mng.device-model' | translate }}"
          allowedExtensions="glb,gltf"
          accept=".glb,.gltf"
          [maxSizeByte]="100*1024*1024"
          dropLabel="{{ 'device-mng.drop-model' | translate }}"
          (clear)="entityForm.get('fileId').setValue('')">
        </tb-file-input>
        <div *ngIf="!isEdit" class="tb-container" style="margin-top: 0;">
          <label class="tb-title">
            {{ 'device-mng.device-model' | translate }}{{ 'common.colon' | translate }}{{ entityForm.get('fileName').value || ('common.none' | translate) }}
          </label>
        </div>
      </mat-expansion-panel>
      <!--设备属性-->
      <mat-expansion-panel [expanded]="customPropExpanded" (opened)="customPropExpanded = true" (closed)="customPropExpanded = false">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ 'device-mng.device-prop' | translate }}</mat-panel-title>
          <mat-panel-description fxFlex fxLayout="row" fxLayoutAlign="end center">
            <mat-icon
              *ngIf="isEdit && customPropExpanded"
              class="material-icons"
              matTooltip="{{ 'device-mng.add-device-prop' | translate }}"
              matTooltipPosition="above"
              (click)="addDeviceProperty($event)"
            >add</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div 
          *ngFor="let item of devicePropFormArray().controls; let $index = index"
          formArrayName="propertyList"
          fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px"
          class="list-form"
        >
          <ng-container [formGroupName]="$index">
            <mat-form-field class="mat-block" [class.mat-form-field-disabled]="(isLoading$ | async) || !isEdit">
              <mat-label translate>device-mng.prop-name</mat-label>
              <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field class="mat-block" fxFlex [class.mat-form-field-disabled]="(isLoading$ | async) || !isEdit">
              <mat-label translate>device-mng.prop-content</mat-label>
              <input matInput formControlName="content">
            </mat-form-field>
            <button
              *ngIf="isEdit"
              mat-icon-button
              type="button"
              matTooltip="{{ 'action.delete' | translate }}"
              matTooltipPosition="above"
              (click)="removeDeviceProperty($index)"
            >
              <mat-icon class="material-icons" >delete</mat-icon>
            </button>
          </ng-container>
        </div>
        <div *ngIf="isEdit && devicePropFormArray().controls.length === 0" fxFlex fxLayoutAlign="center">
          {{ 'device-mng.add-device-prop-tip' | translate }}
        </div>
        <div *ngIf="!isEdit && devicePropFormArray().controls.length === 0" fxFlex fxLayoutAlign="center center">
          <nz-empty
            nzNotFoundImage="../../../../../../assets/data-empty.svg"
            nzNotFoundContent="{{ 'device-mng.device-prop-empty' | translate }}"
          ></nz-empty>
        </div>
      </mat-expansion-panel>
      <!--标准单位能耗-->
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ 'device-mng.standard-prop' | translate }}</mat-panel-title>
        </mat-expansion-panel-header>
        <div 
          *ngFor="let item of standardPropFormArray().controls; let $index = index"
          formArrayName="standardPropertyList"
          fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px"
          class="list-form"
        >
          <div fxFlex fxLayout="row" fxLayoutGap="10px" [formGroupName]="$index">
            <mat-form-field class="mat-block" fxFlex [class.mat-form-field-disabled]="(isLoading$ | async) || !isEdit">
              <mat-label>{{ item.get('title').value }}</mat-label>
              <input matInput formControlName="content" required>
              <mat-error *ngIf="item.get('content').hasError('required')">
                {{ 'device-mng.standard-prop-required' | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="mat-block" fxFlex>
              <mat-label>{{ 'device-mng.data-dic' | translate }}</mat-label>
              <mat-select formControlName="dictDataId">
                <mat-option value="">{{ 'common.none' | translate }}</mat-option>
                <mat-option *ngFor="let option of entitiesTableConfig.componentsData.dataDictionaries" [value]="option.id">{{ option.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>
      <!--设备参数-->
      <mat-expansion-panel [expanded]="groupDataExpanded" (opened)="groupDataExpanded = true" (closed)="groupDataExpanded = false">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ 'device-mng.device-data' | translate }}</mat-panel-title>
          <mat-panel-description
            *ngIf="isEdit && groupDataExpanded && deviceDataGroupFormArray().controls.length > 0
            && deviceDataGroupFormArray().controls[currentTabIndex]
            && deviceDataGroupFormArray().controls[currentTabIndex].get('editable').value"
            fxFlex fxLayout="row" fxLayoutAlign="end center"
          >
            <mat-icon
              class="material-icons"
              matTooltip="{{ 'device-mng.add-device-data' | translate }}"
              matTooltipPosition="above"
              style="margin-right: 10px"
              (click)="addDeviceData($event)"
            >add</mat-icon>
            <mat-icon
              class="material-icons"
              matTooltip="{{ 'device-mng.edit-group-name' | translate }}"
              matTooltipPosition="above"
              (click)="addOrEditDeviceDataGroup(deviceDataGroupFormArray().controls[currentTabIndex].get('name').value, $event)"
            >edit</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <nz-tabset
          [(nzSelectedIndex)]="currentTabIndex"
          formArrayName="groupList"
          [nzType]="isEdit ? 'editable-card' : 'line'"
          (nzAdd)="addOrEditDeviceDataGroup()"
          (nzClose)="removeDeviceDataGroup($event.index)"
        >
          <nz-tab
            *ngFor="let groupControl of deviceDataGroupFormArray().controls; let $index = index;"
            [formGroupName]="$index"
            [nzClosable]="groupControl.get('editable').value"
            [nzTitle]="groupControl.get('name').value"
          >
            <div 
              *ngFor="let dataControl of groupControl.get('groupPropertyList').controls; let $subIndex = index;"
              formArrayName="groupPropertyList"
              fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px"
              class="list-form"
            >
              <ng-container [formGroupName]="$subIndex">
                <fieldset fxFlex fxLayout="row" fxLayoutGap="10px" [disabled]="!groupControl.get('editable').value">
                  <mat-form-field class="mat-block" [class.mat-form-field-disabled]="(isLoading$ | async) || !isEdit || !groupControl.get('editable').value">
                    <mat-label translate>device-mng.device-data-name</mat-label>
                    <input matInput formControlName="name" required (blur)="entityForm.updateValueAndValidity()">
                    <mat-error *ngIf="dataControl.get('name').hasError('required')">
                      {{ 'device-mng.data-name-required' | translate }}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="mat-block" fxFlex [class.mat-form-field-disabled]="(isLoading$ | async) || !isEdit || !groupControl.get('editable').value">
                    <mat-label translate>device-mng.device-data-content</mat-label>
                    <input matInput formControlName="content" required (blur)="entityForm.updateValueAndValidity()">
                    <mat-error *ngIf="dataControl.get('content').hasError('required')">
                      {{ 'device-mng.data-content-required' | translate }}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="mat-block" fxFlex [class.mat-form-field-disabled]="(isLoading$ | async) || !isEdit || !groupControl.get('editable').value">
                    <mat-label translate>device-mng.device-data-desc</mat-label>
                    <input matInput formControlName="title">
                  </mat-form-field>
                </fieldset>
                <mat-form-field>
                  <mat-label>{{ 'device-mng.data-dic' | translate }}</mat-label>
                  <mat-select formControlName="dictDataId">
                    <mat-option value="">{{ 'common.none' | translate }}</mat-option>
                    <mat-option *ngFor="let option of entitiesTableConfig.componentsData.dataDictionaries" [value]="option.id">{{ option.name }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <button
                  *ngIf="isEdit && groupControl.get('editable').value"
                  mat-icon-button
                  type="button"
                  matTooltip="{{ 'action.delete' | translate }}"
                  matTooltipPosition="above"
                  (click)="removeDeviceData($subIndex)"
                >
                  <mat-icon class="material-icons" >delete</mat-icon>
                </button>
              </ng-container>
            </div>
            <div *ngIf="isEdit && deviceDataFormArray($index).controls.length === 0" fxFlex fxLayoutAlign="center">
              {{ 'device-mng.add-device-data-tip' | translate }}
            </div>
            <div *ngIf="!isEdit && deviceDataFormArray($index).controls.length === 0" fxFlex fxLayoutAlign="center center">
              <nz-empty
                nzNotFoundImage="../../../../../../assets/data-empty.svg"
                nzNotFoundContent="{{ 'device-mng.device-data-empty' | translate }}"
              ></nz-empty>
            </div>
          </nz-tab>
        </nz-tabset>
        <div *ngIf="isEdit && deviceDataGroupFormArray().controls.length === 0" fxFlex fxLayoutAlign="center center">
          <button mat-flat-button type="button" color="primary" (click)="addOrEditDeviceDataGroup()">
            {{ 'device-mng.add-device-data-group' | translate }}
          </button>
        </div>
        <div *ngIf="!isEdit && deviceDataGroupFormArray().controls.length === 0" fxFlex fxLayoutAlign="center">
          <nz-empty
            nzNotFoundImage="../../../../../../assets/data-empty.svg"
            nzNotFoundContent="{{ 'device-mng.device-data-empty' | translate }}"
          ></nz-empty>
        </div>
      </mat-expansion-panel>
    </fieldset>
    <!--部件信息-->
    <mat-expansion-panel [expanded]="compExpanded" (opened)="compExpanded = true" (closed)="compExpanded = false" style="margin-top: 20px">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ 'device-mng.device-comp' | translate }}</mat-panel-title>
        <mat-panel-description fxFlex fxLayout="row" fxLayoutAlign="end center">
          <mat-icon
            *ngIf="!(isLoading$ | async) && isEdit && compExpanded"
            class="material-icons"
            matTooltip="{{ 'device-mng.add-device-comp' | translate }}"
            matTooltipPosition="above"
            (click)="addDeviceComp($event)"
          >add</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <nz-table
        #compTable
        [nzData]="compListFormArray().value"
        nzTableLayout="fixed"
        [nzShowPagination]="false"
        [nzFrontPagination]="false"
        [nzNoResult]="'device-mng.comp-empty' | translate"
        [nzScroll]="{ x: '100%', y: '500px' }"
      >
        <thead>
          <tr>
            <th nzWidth="200px" nzLeft>{{ 'device-mng.comp-name' | translate }}</th>
            <th nzWidth="150px">{{ 'device-mng.comp-type' | translate }}</th>
            <th nzWidth="250px">{{ 'device-mng.supplier' | translate }}</th>
            <th nzWidth="100px">{{ 'device-mng.model' | translate }}</th>
            <th nzWidth="150px">{{ 'device-mng.version' | translate }}</th>
            <th nzWidth="150px">{{ 'device-mng.guarantee' | translate }}</th>
            <!-- <th nzWidth="104px">{{ 'device-mng.comp-picture' | translate }}</th> -->
            <th *ngIf="isEdit" nzWidth="150px" nzRight></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of compTable.data">
            <ng-container *ngFor="let item of mapOfExpandedComp[data.code]">
              <tr
                *ngIf="(item.parent && item.parent.expand) || !item.parent"
                [style.cursor]="!isEdit ? 'pointer' : ''"
                (click)="!isEdit ? viewDeviceComp(item) : ''"
              >
                <td
                  nzBreakWord
                  nzLeft
                  [nzIndentSize]="item.level! * 5"
                  [nzShowExpand]="!!item.componentList && item.componentList.length > 0"
                  [(nzExpand)]="item.expand"
                  (nzExpandChange)="collapse(mapOfExpandedComp[data.code], item, $event)"
                >{{ item.name }}</td>
                <td nzBreakWord>{{ item.type }}</td>
                <td nzBreakWord>{{ item.supplier }}</td>
                <td nzBreakWord>{{ item.model }}</td>
                <td nzBreakWord>{{ item.version }}</td>
                <td nzBreakWord>{{ item.warrantyPeriod }}</td>
                <!-- <td>
                  <div *ngIf="item.picture" class="image-wrapper">
                    <img nz-image [nzSrc]="item.picture" />
                  </div>
                </td> -->
                <td *ngIf="isEdit" nzRight nzAlign="right">
                  <button
                    mat-icon-button
                    type="button"
                    matTooltip="{{ 'device-mng.add-sub-device-comp' | translate }}"
                    matTooltipPosition="above"
                    (click)="addDeviceComp($event, item)"
                  >
                    <mat-icon class="material-icons" >add</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    type="button"
                    matTooltip="{{ 'action.edit' | translate }}"
                    matTooltipPosition="above"
                    (click)="editDeviceComp($event, item)"
                  >
                    <mat-icon class="material-icons" >edit</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    type="button"
                    matTooltip="{{ 'action.delete' | translate }}"
                    matTooltipPosition="above"
                    (click)="deleteDeviceComp($event, item)"
                  >
                    <mat-icon class="material-icons" >delete</mat-icon>
                  </button>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </nz-table>
    </mat-expansion-panel>
  </form>
</div>
