<div fxLayout="row" fxLayoutGap="16px" class="device-details-wrapper">
  <div fxFlex fxLayout="column" fxLayoutGap="16px" class="left-content">
    <div class="base-info">
      <div class="title">{{ 'device-monitor.base-info' | translate }}</div>
      <div fxLayout="row" fxLayoutGap="16px">
        <div class="image-wrapper">
          <img [src]="baseInfo.picture ? baseInfo.picture : '../../../../../../../assets/image-empty.svg'" />
        </div>
        <div fxFlex class="description">
          <div class="desc-item">{{ 'device-monitor.device-name-with-suffix' | translate }}{{ baseInfo.name }}</div>
          <div class="desc-item">{{ 'device-mng.factory-belong' | translate }}{{ baseInfo.factoryName }}</div>
          <div class="desc-item">{{ 'device-mng.work-shop-belong' | translate }}{{ baseInfo.workShopName }}</div>
          <div class="desc-item">{{ 'device-mng.prod-line-belong' | translate }}{{ baseInfo.productionLineName }}</div>
        </div>
      </div>
    </div>
    <div fxFlex fxLayout="column" fxLayoutGap="16px" class="line-chart-wrapper">
      <div [fxShow]="showRealTimeChart" class="line-chart-item">
        <tb-prop-data-chart [propName]="currPropName" [data]="propHistoryData"></tb-prop-data-chart>
      </div>
      <div class="line-chart-item">
        <tb-warning-statistics-chart [data]="alarmTimesList"></tb-warning-statistics-chart>
      </div>
    </div>
  </div>
  <div fxFlex class="right-content">
    <div *ngIf="deviceData.length > 0 || devcieComp.length > 0" fxLayout="column" class="real-time-data">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="real-time-data-header">
        <span class="title">{{ 'device-monitor.real-time-data' | translate }}</span>
        <button
          class="link-button"
          mat-button color="primary"
          type="button"
          (click)="gotoHistory()"
        >
          {{ 'device-monitor.see-history' | translate }}
          <mat-icon svgIcon="mdi:chevron-right"></mat-icon>
        </button>
      </div>
      <div fxFlex fxLayout="column" fxLayoutGap="16px" class="real-time-data-content">
        <div *ngFor="let group of deviceData" class="real-time-data-item">
          <div class="title">{{ group.name }}</div>
          <nz-table
            #deviceDataTable
            [nzData]="group.groupPropertyList || []"
            [nzShowPagination]="false"
            nzNoResult="{{ 'common.data-empty' | translate }}"
          >
            <tbody>
              <tr *ngFor="let data of deviceDataTable.data" (click)="fetchPropHistoryData(data.name)" [class.active]="data.name === currPropName">
                <td width="33%">{{data.title || data.name}}</td>
                <td width="33%">{{data.content}}{{data.unit}}</td>
                <td width="34%">{{data.createdTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
              </tr>
            </tbody>
          </nz-table>
        </div>
        <div class="real-time-data-item">
          <div class="title">{{ 'device-monitor.device-comp' | translate }}</div>
          <nz-table
            #compTable
            [nzData]="devcieComp"
            nzTableLayout="fixed"
            [nzShowPagination]="false"
            nzNoResult="{{ 'common.data-empty' | translate }}"
            class="comp-table"
          >
            <tbody>
              <ng-container *ngFor="let data of compTable.data">
                <ng-container *ngFor="let item of mapOfExpandedComp[data.code]">
                  <tr
                    *ngIf="(item.parent && item.parent.expand) || !item.parent"
                    class="comp-name-row"
                  >
                    <td
                      class="comp-name"
                      nzBreakWord
                      nzLeft
                      [nzIndentSize]="item.level! * 5"
                      [nzShowExpand]="!!item.componentList && item.componentList.length > 0"
                      [(nzExpand)]="item.expand"
                      (nzExpandChange)="collapse(mapOfExpandedComp[data.code], item, $event)"
                    >{{ item.name }}</td>
                  </tr>
                  <tr *ngIf="item.propertyList && item.propertyList.length > 0 && item.expand">
                    <nz-table
                      #compPropTable
                      [nzData]="item.propertyList"
                      nzTableLayout="fixed"
                      [nzShowPagination]="false"
                    >
                      <tbody>
                        <tr *ngFor="let data of compPropTable.data" (click)="fetchPropHistoryData(data.name)" [class.active]="data.name === currPropName">
                          <td width="33%" [nzIndentSize]="item.level! * 5">{{data.title || data.name}}</td>
                          <td width="33%">{{data.content}}{{data.unit}}</td>
                          <td width="34%">{{data.createdTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        </tr>
                      </tbody>  
                    </nz-table>
                  </tr>
                </ng-container>
              </ng-container>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </div>
</div>