<mat-card class='settings-card'>
  <mat-card-header>
    <mat-card-title>
      <div fxLayout='row'>
        <span class="mat-headline">{{ 'system-settings.custom-ui' | translate }}</span>
        <span fxFlex></span>
      </div>
    </mat-card-title>
    <div style="height: .25rem;" class="ng-star-inserted"></div>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="customUiFormGroup">
      <fieldset>
        <mat-form-field fxFill>
          <mat-label>{{ 'platform.applicationTitle' | translate }}</mat-label>
          <input matInput type="text" formControlName="applicationTitle">
        </mat-form-field>
        <div fxLayout='column'>
          <tb-image-input label="{{ 'platform.appIcon' | translate }}" [required]='false' [maxSizeByte]='faviconMaxKBytes' [imgSuffix]="['ico','gif','png']" [inputId]="'faviconSelect'" formControlName="iconImageUrl"></tb-image-input>
          <div class="tb-hint ng-star-inserted">*.ico, *.gif or *.png image with maximum size {{faviconMaxKBytes}} KBytes.</div>
          <tb-image-input [label]="'Logo'" [required]='false' [maxSizeByte]='logoMaxKBytes' [inputId]="'logoSelect'" formControlName="logoImageUrl"></tb-image-input>
          <div class="tb-hint ng-star-inserted">Any image with maximum size {{logoMaxKBytes}} KBytes.</div>
        </div>
        <!--输入框样式Logo高度设置-->
        <!--        <mat-form-field fxFill>-->
        <!--          <mat-label>{{ 'platform.logoHeight' | translate }},px</mat-label>-->
        <!--          <input matInput type="number" formControlName="logoImageHeight" step="1" min='1'>-->
        <!--        </mat-form-field>-->
        <!--滑块样式Logo高度设置-->
        <div fxLayout='column'>
          <mat-label>{{ 'platform.logoHeight' | translate }}</mat-label>
          <mat-slider formControlName="logoImageHeight" thumbLabel [displayWith]="formatSlider" tickInterval="1000" min="1" max="100"></mat-slider>
        </div>
        <div fxLayout='row' fxLayoutGap='16px'>
          <tb-color-input fxFlex
                          label="{{'platform.main-color' | translate}}"
                          icon="web"
                          openOnInput
                          formControlName="platformMainColor">
          </tb-color-input>
          <tb-color-input fxFlex
                          label="{{'platform.main-color-text' | translate}}"
                          icon="text_format"
                          openOnInput
                          formControlName="platformTextMainColor">
          </tb-color-input>
        </div>
        <tb-color-input fxFlex
                        label="{{'platform.button-color' | translate}}"
                        icon="touch_app"
                        openOnInput
                        formControlName="platformButtonColor">
        </tb-color-input>
        <div fxLayout='row' fxLayoutGap='16px'>
          <tb-color-input fxFlex
                          label="{{'platform.menu-color-active' | translate}}"
                          icon="menu"
                          openOnInput
                          formControlName="platformMenuColorActive">
          </tb-color-input>
          <tb-color-input fxFlex
                          label="{{'platform.menu-color-hover' | translate}}"
                          icon="border_color"
                          openOnInput
                          formControlName="platformMenuColorHover">
          </tb-color-input>
        </div>
        <!--        高级CSS先不做,意义不大-->
        <!--        <button style="margin-bottom: 1rem" mat-raised-button color="primary" (click)='advancedCssClick()'>{{ 'platform.advancedCss' | translate }}</button>-->
        <mat-checkbox style='display: block; padding-bottom: 1rem;' formControlName="showNameVersion" color='primary'>{{ 'platform.showNameVersion' | translate }}</mat-checkbox>
        <mat-form-field fxFill *ngIf="customUiFormGroup.get('showNameVersion').value">
          <mat-label>{{ 'platform.name' | translate }}</mat-label>
          <input matInput type="text" formControlName="platformName">
        </mat-form-field>
        <fieldset disabled>
          <mat-form-field fxFill *ngIf="customUiFormGroup.get('showNameVersion').value">
            <mat-label>{{ 'platform.version' | translate }}</mat-label>
            <input matInput type="text" formControlName="platformVersion">
          </mat-form-field>
        </fieldset>
        <div fxLayout='row' fxLayoutAlign='end center' fxLayoutGap='16px'>
          <button mat-raised-button (click)='reset($event)' [disabled]='(isLoading$ | async)'>{{ 'action.reset' | translate }}</button>
          <button mat-raised-button (click)='cancel($event)' [disabled]='(isLoading$ | async)'>{{ 'action.cancel' | translate }}</button>
          <button mat-raised-button (click)='submit($event)' color='primary' type="submit" [disabled]="(isLoading$ | async) || !isDirty" >{{ 'action.save' | translate }}</button>
        </div>
      </fieldset>
    </form>
  </mat-card-content>
</mat-card>
