.mng-calendar-dialog {
  min-width: 360px;
  .form-item {
    position: relative;
    + .form-item {
      margin-top: 1.25em;
    }
    mat-label {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.54);
      display: block;
      margin-bottom: 2px;
      &[required]:after {
        content: '*';
        display: inline-block;
        margin-left: 2px;
      }
    }
    nz-date-picker,
    nz-time-picker {
      width: 100%;
    }
    .mat-error { 
      font-size: 12px;
      position: absolute;
      top: 52px
    }
  }
}