<div class="mat-padding" fxLayout="column" style="min-width: 550px;">
  <form [formGroup]="entityForm">
    <fieldset [disabled]="(isLoading$ | async) || !isEdit">
      <fieldset [disabled]="!!entityForm.get('id').value">
        <mat-form-field class="mat-block">
          <mat-label translate>device-mng.code</mat-label>
          <input matInput formControlName="code" required>
          <mat-error *ngIf="entityForm.get('code').hasError('required')">
            {{ 'device-mng.code-required' | translate }}
          </mat-error>
        </mat-form-field>
      </fieldset>
      <mat-form-field class="mat-block">
        <mat-label translate>device-mng.name</mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="entityForm.get('name').hasError('required')">
          {{ 'device-mng.name-required' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mat-block">
        <mat-label translate>device-mng.data-type</mat-label>
        <mat-select formControlName="type" required>
          <mat-option
            *ngFor="let option of entitiesTableConfig.componentsData.dataTypeList"
            [value]="option.code"
          >{{ 'device-mng.' + option.name | translate }}</mat-option>
        </mat-select>
        <mat-error *ngIf="entityForm.get('type').hasError('required')">
          {{ 'device-mng.data-type-required' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mat-block">
        <mat-label translate>device-mng.unit</mat-label>
        <input matInput formControlName="unit">
      </mat-form-field>
      <mat-form-field class="mat-block">
        <mat-label translate>device-mng.comment</mat-label>
        <input matInput formControlName="comment">
      </mat-form-field>
      <tb-material-icon-select formControlName="icon"></tb-material-icon-select>
    </fieldset>
  </form>
</div>
