<mat-form-field>
  <mat-label>{{ 'device-mng.code' | translate }}</mat-label>
  <input type="text" matInput [ngModel]="entitiesTableConfig.componentsData.code" />
</mat-form-field>
<mat-form-field>
  <mat-label>{{ 'device-mng.name' | translate }}</mat-label>
  <input type="text" matInput [ngModel]="entitiesTableConfig.componentsData.name" />
</mat-form-field>
<mat-form-field>
  <mat-label>{{ 'device-mng.data-type' | translate }}</mat-label>
  <mat-select
    [ngModel]="entitiesTableConfig.componentsData.type"
    (ngModelChange)="dataTypeChanged($event)"
  >
    <mat-option [value]="''">全部</mat-option>
    <mat-option [value]="'数值型'">数值型</mat-option>
    <mat-option [value]="'布尔型'">布尔型</mat-option>
  </mat-select>
</mat-form-field>
<div class="action-btns">
  <button mat-flat-button color="primary" (click)="entitiesTableConfig.table.resetSortAndFilter(true)">
    {{ 'action.search' | translate }}
  </button>
</div>