<mat-drawer-container hasBackdrop="false" class="tb-absolute-fill factory-mng-table-wrapper">
  <mat-drawer
    class="tb-details-drawer mat-elevation-z4"
    #drawer
    mode="over"
    position="end"
    [opened]="isDetailsOpen">
    <tb-entity-details-panel
      *ngIf="isDetailsOpen"
      [entitiesTableConfig]="drawerEntityConfig"
      [entityId]="currentEntityId"
      (closeEntityDetails)="isDetailsOpen = false; currentEntityId = '';"
      (entityUpdated)="fetchData()"
    >
    </tb-entity-details-panel>
  </mat-drawer>
  <mat-drawer-content>
    <div
      fxLayout="row"
      fxLayoutGap="16px"
      class="mat-padding tb-entity-table tb-absolute-fill"
    >
      <div class="mat-elevation-z1 tb-entity-table-content">
        <mat-toolbar class="mat-table-toolbar">
          <div class="mat-toolbar-tools">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayout.xs="column" fxLayoutAlign.xs="center start" class="title-container">
              <span class="tb-entity-table-title">{{ 'device-mng.factory-mng' | translate }}</span>
            </div>
            <span fxFlex></span>
            <button
              *ngIf="utils.hasPermission('device-mng.add-factory')"
              mat-icon-button [disabled]="isLoading$ | async"
              (click)="addFactory()"
              matTooltip="{{ 'device-mng.add-factory' | translate }}"
              matTooltipPosition="above"
            >
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </mat-toolbar>
        <div class="entity-filter-header">
          <mat-form-field *ngFor="let filter of filters">
            <mat-label>{{ filter.langKey | translate }}</mat-label>
            <input type="text" matInput [(ngModel)]="filterParams[filter.propName]" (keyup.enter)="fetchData()" />
            <button
              *ngIf="filterParams[filter.propName]"
              matSuffix mat-icon-button aria-label="Clear"
              (click)="onClear(filter.propName)"
            >
              <mat-icon class="material-icons">close</mat-icon>
            </button>
          </mat-form-field>
          <div class="action-btns">
            <button mat-flat-button color="primary" (click)="fetchData()">
              {{ 'action.search' | translate }}
            </button>
            <button
              *ngIf="utils.hasPermission('device-mng.distribute-device')"
              mat-stroked-button
              [disabled]="checkedDeviceIdList.size === 0"
              (click)="distributeDevice()"
            >
              {{ 'device-mng.batch-distribute' | translate }}
            </button>
          </div>
        </div>
        <div class="table-container">
          <nz-table
            #table
            [nzData]="tableData"
            nzTableLayout="fixed"
            [nzShowPagination]="false"
            [nzNoResult]="((isLoading$ | async) ? 'common.loading' : 'device-mng.no-factory-text') | translate"
            [nzScroll]="scrollConfig"
          >
            <thead>
              <tr>
                <th>{{ 'device-mng.factory-col-name' | translate }}</th>
                <th nzWidth="104px">{{ 'device-mng.logo' | translate }}</th>
                <th>{{ 'device-mng.address' | translate }}</th>
                <th nzWidth="150px">{{ 'common.created-time' | translate }}</th>
                <th
                  *ngIf="utils.hasPermission('device-mng.add-work-shop') || utils.hasPermission('device-mng.add-prod-line')
                  || utils.hasPermission('device-mng.add-device') || utils.hasPermission('action.delete') || utils.hasPermission('device-mng.distribute-device')
                  || utils.hasPermission('device-mng.manage-factory-manager') || utils.hasPermission('device-mng.set-factory-manager-permissions')"
                  nzWidth="240px" nzRight
                ></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let data of table.data">
                <ng-container *ngFor="let item of mapOfExpandedData[data.id]">
                  <tr
                    *ngIf="(item.parent && item.parent.expand) || !item.parent"
                    (click)="onRowClick($event, item)"
                  >
                    <td
                      [nzIndentSize]="item.level! * 10"
                      [nzShowExpand]="!!item.children"
                      [(nzExpand)]="item.expand"
                      (nzExpandChange)="collapse(mapOfExpandedData[data.id], item, $event)"
                      [nzShowCheckbox]="item.rowType === 'device' && utils.hasPermission('device-mng.distribute-device')"
                      [nzChecked]="checkedDeviceIdList.has(item.id)"
                      (nzCheckedChange)="onDeviceCheckedChange(item.id, $event)"
                      nzAlign="left"
                    >{{ item.name }}</td>
                    <td>
                      <div *ngIf="item.logoImages" fxFlex fxLayoutAlign="start center" class="image-wrapper">
                        <img nz-image [nzSrc]="item.logoImages" (click)="$event.stopPropagation()" />
                      </div>
                    </td>
                    <td>{{ item.address }}</td>
                    <td>{{ item.createdTime | date: "yyyy-MM-dd HH:mm:ss" }}</td>
                    <td *ngIf="utils.hasPermission('device-mng.add-work-shop') || utils.hasPermission('device-mng.add-prod-line')
                    || utils.hasPermission('device-mng.add-device') || utils.hasPermission('action.delete')" nzRight nzAlign="right">
                      <button
                        *ngIf="item.rowType === 'factory' && utils.hasPermission('device-mng.add-work-shop')"
                        mat-icon-button
                        [disabled]="isLoading$ | async"
                        matTooltip="{{ 'device-mng.add-work-shop' | translate }}"
                        matTooltipPosition="above"
                        (click)="$event.stopPropagation(); addWorkShop(item)"
                      >
                        <mat-icon>add</mat-icon>
                      </button>
                      <button
                        *ngIf="item.rowType === 'workShop' && utils.hasPermission('device-mng.add-prod-line')"
                        mat-icon-button
                        [disabled]="isLoading$ | async"
                        matTooltip="{{ 'device-mng.add-prod-line' | translate }}"
                        matTooltipPosition="above"
                        (click)="$event.stopPropagation(); addProdLine(item)"
                      >
                        <mat-icon>add</mat-icon>
                      </button>
                      <button
                        *ngIf="item.rowType === 'prodLine' && utils.hasPermission('device-mng.add-device')"
                        mat-icon-button
                        [disabled]="isLoading$ | async"
                        matTooltip="{{ 'device-mng.add-device' | translate }}"
                        matTooltipPosition="above"
                        (click)="$event.stopPropagation(); addDevice(item)"
                      >
                        <mat-icon>add</mat-icon>
                      </button>
                      <ng-container *ngIf="item.rowType === 'factory'">
                        <button
                          *ngIf="utils.hasPermission('device-mng.manage-factory-manager')"
                          mat-icon-button
                          [disabled]="isLoading$ | async"
                          matTooltip="{{ 'device-mng.manage-factory-manager' | translate }}"
                          matTooltipPosition="above"
                          (click)="$event.stopPropagation(); mngFactoryManager(item.id, item.name)"
                        >
                          <mat-icon>account_circle</mat-icon>
                        </button>
                        <button
                          *ngIf="utils.hasPermission('device-mng.set-factory-manager-permissions')"
                          mat-icon-button
                          [disabled]="isLoading$ | async"
                          matTooltip="{{ 'device-mng.set-factory-manager-permissions' | translate }}"
                          matTooltipPosition="above"
                          (click)="$event.stopPropagation(); setPermissions(item.id)"
                        >
                          <mat-icon svgIcon="mdi:config"></mat-icon>
                        </button>
                      </ng-container>
                      <button
                        *ngIf="item.rowType === 'device' && utils.hasPermission('device-mng.distribute-device')"
                        mat-icon-button
                        [disabled]="isLoading$ | async"
                        matTooltip="{{ 'device-mng.distribute-device' | translate }}"
                        matTooltipPosition="above"
                        (click)="$event.stopPropagation(); distributeDevice([item.id])"
                      >
                        <mat-icon svgIcon="mdi:distribute"></mat-icon>
                      </button>
                      <button
                        *ngIf="utils.hasPermission('action.delete')"
                        mat-icon-button
                        [disabled]="(isLoading$ | async) || (item.children && item.children.length > 0)"
                        matTooltip="{{ 'action.delete' | translate }}"
                        matTooltipPosition="above"
                        (click)="$event.stopPropagation(); del(item)"
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
