<div class="mat-padding" style="min-width: 560px;">
  <form [formGroup]="entityForm">
    <fieldset [disabled]="(isLoading$ | async) || !isEdit">
      <mat-form-field class="mat-block">
        <mat-label translate>device-mng.factory-name</mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="entityForm.get('name').hasError('required')">
          {{ 'device-mng.factory-name-required' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mat-block">
        <mat-label translate>device-mng.mobile</mat-label>
        <input matInput formControlName="mobile" required>
        <mat-error *ngIf="entityForm.get('mobile').hasError('required')">
          {{ 'device-mng.phone-number-required' | translate }}
        </mat-error>
        <mat-error *ngIf="entityForm.get('mobile').hasError('pattern')">
          {{ 'device-mng.phone-number-invalid' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mat-block">
        <mat-label translate>device-mng.email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="entityForm.get('email').hasError('email')">
          {{ 'device-mng.email-invalid' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mat-block">
        <mat-label translate>device-mng.address</mat-label>
        <input matInput formControlName="address" required>
        <mat-error *ngIf="entityForm.get('address').hasError('required')">
          {{ 'device-mng.address-required' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mat-block">
        <mat-label translate>device-mng.postal-code</mat-label>
        <input matInput formControlName="postalCode">
      </mat-form-field>
      <mat-form-field class="mat-block">
        <mat-label translate>device-mng.remark</mat-label>
        <input matInput formControlName="remark">
      </mat-form-field>
      <tb-image-input
        label="{{ 'device-mng.logo' | translate }}"
        maxSizeByte="524288"
        formControlName="logoImages"
        [disabled]="!isEdit"
      ></tb-image-input>
    </fieldset>
  </form>
</div>