<div class="mat-padding" style="min-width: 560px;">
  <form [formGroup]="entityForm">
    <fieldset [disabled]="(isLoading$ | async) || !isEdit">
      <div class="mat-block" style="padding-bottom: 1.25em; color: #666;">
        {{ 'device-mng.factory-belong' | translate }}{{ entityForm.get('factoryName').value }}
      </div>
      <mat-form-field class="mat-block">
        <mat-label translate>device-mng.work-shop-name</mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="entityForm.get('name').hasError('required')">
          {{ 'device-mng.work-shop-name-required' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mat-block">
        <mat-label translate>device-mng.remark</mat-label>
        <input matInput formControlName="remark">
      </mat-form-field>
      <!-- <tb-image-input
        label="{{ 'device-mng.logo' | translate }}"
        maxSizeByte="524288"
        formControlName="logoImages"
        [disabled]="!isEdit"
      ></tb-image-input> -->
      <tb-image-input
        label="{{ 'device-mng.work-shop-bg' | translate }}"
        maxSizeByte="1048576"
        formControlName="bgImages"
        [disabled]="!isEdit"
      ></tb-image-input>
    </fieldset>
  </form>
</div>
