<nz-range-picker
  nzFormat="yyyy/MM/dd HH:mm"
  nzSize="large"
  [nzShowTime]="{ nzFormat: 'HH:mm' }"
  [nzDisabledDate]="disabledDate"
  [nzAllowClear]="false"
  [(ngModel)]="entitiesTableConfig.componentsData.dateRange"
  (ngModelChange)="onTimeChange()"
></nz-range-picker>
<div class="action-btns" style="margin-left: 11px;">
  <button mat-flat-button color="primary" [disabled]="isLoading$ | async" (click)="entitiesTableConfig.componentsData.exportTableData()">
    {{ 'action.export' | translate }}
  </button>
</div>