<div fxLayout="row" fxLayoutGap="16px" class="real-time-monitor-wrapper">
  <div class="left-content">
    <tb-factory-tree #factoryTree (clickNode)="fetchData($event)"></tb-factory-tree>
  </div>
  <div class="center-content">
    <div fxLayout="row" class="device-list" [class.empty]="deviceList.length === 0">
      <div *ngFor="let device of deviceList" class="device-item-wrapper">
        <div class="device-item" [title]="device.name" (click)="goToDetail(device.id)">
          <div class="device-name">
            <div class="scroll-wrap">
              <div class="scroll-item">{{ device.name }}</div>
            </div>
          </div>
          <div class="device-status-bg" [class.off-line]="!device.isOnLine"></div>
          <div class="device-status">
            {{ (device.isOnLine ? 'device-monitor.online' : 'device-monitor.offline') | translate }}
          </div>
          <img [src]="device.image ? device.image : '../../../../../../assets/device-image-empty.png'" />
          <div class="operation-rate">{{ 'device-monitor.operation-ratio-24h' | translate }}{{ (device.operationRate || 0) * 100 + '%' }}</div>
          <div class="sub-info">
            <div class="title">{{ 'device-monitor.current-card-no' | translate }}</div>
            <div class="content">
              <div class="scroll-wrap">
                <div class="scroll-item">{{ device.cardNo || ('common.none' | translate) }}</div>
              </div>
            </div>
          </div>
          <div class="sub-info">
            <div class="title">{{ 'device-monitor.material-name' | translate }}</div>
            <div class="content">
              <div class="scroll-wrap">
                <div class="scroll-item">{{ device.materialName || ('common.none' | translate) }}</div>
              </div>
            </div>
          </div>
          <div class="sub-info">
            <div class="title">{{ 'device-monitor.current-team' | translate }}</div>
            <div class="content">
              <div class="scroll-wrap">
                <div class="scroll-item">{{ device.workerGroupName || ('common.none' | translate) }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nz-empty
        *ngIf="deviceList.length === 0"
        nzNotFoundImage="../../../../../../assets/data-empty.svg"
        nzNotFoundContent="{{ 'device-monitor.device-empty' | translate }}"
      ></nz-empty>
    </div>
    <mat-paginator
      [length]="totalDevices"
      [pageIndex]="pageLink.page"
      [pageSize]="pageLink.pageSize"
      hidePageSize
      showFirstLastButtons
      (page)="pageLink.page = $event.pageIndex; getDevices();"
    ></mat-paginator>
  </div>
  <div fxLayout="column" fxLayoutGap="16px" class="right-content">
    <tb-run-state-chart fxFlex [data]="runStateData"></tb-run-state-chart>
    <tb-warning-statistics-chart fxFlex [data]="alarmTimesList"></tb-warning-statistics-chart>
  </div>
</div>
