<div fxLayout="row" fxLayoutGap="16px" class="real-time-monitor-wrapper">
  <div class="left-content">
    <tb-factory-tree #factoryTree (clickNode)="fetchData($event)"></tb-factory-tree>
  </div>
  <div class="center-content">
    <div fxLayout="row" class="device-list" [class.empty]="deviceList.length === 0">
      <div *ngFor="let device of deviceList" class="device-item-wrapper">
        <div class="device-item" [title]="device.name" (click)="goToDetail(device.id)">
          <div class="device-name">{{ device.name }}</div>
          <div class="device-status-bg" [class.off-line]="!device.isOnLine"></div>
          <div class="device-status">
            {{ (device.isOnLine ? 'device-monitor.on-line' : 'device-monitor.off-line') | translate }}
          </div>
          <img [src]="device.image ? device.image : '../../../../../../assets/device-image-empty.svg'" />
        </div>
      </div>
      <nz-empty
        *ngIf="deviceList.length === 0"
        nzNotFoundImage="../../../../../../assets/data-empty.svg"
        nzNotFoundContent="{{ 'device-monitor.device-empty' | translate }}"
      ></nz-empty>
    </div>
    <mat-paginator
      [length]="totalDevices"
      [pageIndex]="pageLink.page"
      [pageSize]="pageLink.pageSize"
      hidePageSize
      showFirstLastButtons
      (page)="pageLink.page = $event.pageIndex; fetchData();"
    ></mat-paginator>
  </div>
  <div fxLayout="column" fxLayoutGap="16px" class="right-content">
    <tb-run-state-chart fxFlex [data]="runStateData"></tb-run-state-chart>
    <tb-warning-statistics-chart fxFlex [data]="alarmTimesList"></tb-warning-statistics-chart>
  </div>
</div>
