<div class="tb-absolute-fill mat-padding tb-entity-table">
  <div fxLayout="column" class="tb-entity-table-content mat-elevation-z1">
    <mat-toolbar class="mat-table-toolbar">
      <div class="mat-toolbar-tools">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayout.xs="column" fxLayoutAlign.xs="center start" class="title-container">
          <span class="tb-entity-table-title">{{ 'potency.technology' | translate }}</span>
        </div>
      </div>
    </mat-toolbar>
    <div class="entity-filter-header">
      <mat-form-field>
        <mat-label>{{ 'potency.card-no' | translate }}</mat-label>
        <input type="text" matInput [(ngModel)]="searchForm.sCardNo" (keyup.enter)="search()" />
        <button *ngIf="searchForm.sCardNo" matSuffix mat-icon-button aria-label="Clear" (click)="onClear('sCardNo')">
          <mat-icon class="material-icons">close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'potency.order-no' | translate }}</mat-label>
        <input type="text" matInput [(ngModel)]="searchForm.sOrderNo" (keyup.enter)="search()" />
        <button *ngIf="searchForm.sOrderNo" matSuffix mat-icon-button aria-label="Clear" (click)="onClear('sOrderNo')">
          <mat-icon class="material-icons">close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'potency.material-name' | translate }}</mat-label>
        <input type="text" matInput [(ngModel)]="searchForm.sMaterialName" (keyup.enter)="search()" />
        <button *ngIf="searchForm.sMaterialName" matSuffix mat-icon-button aria-label="Clear" (click)="onClear('sMaterialName')">
          <mat-icon class="material-icons">close</mat-icon>
        </button>
      </mat-form-field>
      <nz-range-picker
        nzFormat="yyyy/MM/dd HH:mm:ss"
        nzShowTime
        nzSize="large"
        [nzDisabledDate]="disabledDate"
        [nzAllowClear]="false"
        [(ngModel)]="searchForm.dateRange"
        (ngModelChange)="search()"
      ></nz-range-picker>
      <div class="action-btns">
        <button mat-flat-button color="primary" (click)="search()">
          {{ 'action.search' | translate }}
        </button>
        <button mat-flat-button color="primary" [disabled]="isLoading$ | async" (click)="processCardTableConfig.componentsData.exportTableData()">
          {{ 'action.export' | translate }}
        </button>
      </div>
    </div>
    <div fxFlex fxLayout="column" class="main-content">
      <tb-entities-table fxFlex="50" [entitiesTableConfig]="processCardTableConfig" class="table-wrapper"></tb-entities-table>
      <div fxFlex="50" fxLayout="row" fxLayoutGap="16px" >
        <tb-entities-table fxFlex="50" [entitiesTableConfig]="procedureTableConfig" class="table-wrapper"></tb-entities-table>
        <div fxFlex="50" fxLayout="column">
          <ng-container *ngIf="procedureParams.length > 0">
            <nz-tabset [(nzSelectedIndex)]="currentTabIndex" nzType="line" (nzSelectedIndexChange)="showProcedureParamLineChart()">
              <nz-tab *ngFor="let param of procedureParams" [nzTitle]="param.key"></nz-tab>
            </nz-tabset>
            <tb-running-state-chart fxFlex [data]="chartData" style="padding-bottom: 6px;"></tb-running-state-chart>
          </ng-container>
          <div *ngIf="procedureParams.length === 0" fxLayoutAlign="center center" style="height: 100%;">
            <nz-empty
              nzNotFoundImage="../../../../../../assets/data-empty.svg"
              nzNotFoundContent="{{ 'common.data-empty' | translate }}"
            ></nz-empty>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>