<div *ngIf="chartData.length > 0" class="top10">
  <div class="header">
    <div class="title">{{ 'potency.today-energy-consumption-top10' | translate }}</div>

  </div>
  <div class="bar-wrapper">
    <div *ngFor="let item of chartData; let $index = index" class="bar-item">
      <div class="device-name" [title]="item.deviceName">No.{{ $index + 1 }} {{ item.deviceName }}</div>
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <div fxFlex>
          <nz-progress [nzPercent]="item.percent" [nzStrokeColor]="{ '0%': '#0e4ba1', '100%': '#99d5d4' }" nzStatus="active" [nzShowInfo]="false"></nz-progress>
        </div>
        <div class="value">{{ item.value }}</div>
      </div>
    </div>
  </div>
</div>
<nz-range-picker
  nzFormat="yyyy/MM/dd"
  nzSize="large"
  [nzDisabledDate]="disabledDate"
  [nzAllowClear]="false"
  [(ngModel)]="entitiesTableConfig.componentsData.dateRange"
  (ngModelChange)="entitiesTableConfig.table.resetSortAndFilter(true)"
></nz-range-picker>
<div class="data-overview">
  <div class="overview-item">{{ 'potency.total-energy-consumption' | translate }}</div>
  <div
    *ngFor="let item of entitiesTableConfig.componentsData.totalValue"
    class="overview-item"
  >{{ item }}</div>
</div>