<nz-range-picker
  nzFormat="yyyy/MM/dd HH:mm:ss"
  [nzShowTime]="true"
  nzSize="large"
  [nzDisabledDate]="disabledDate"
  [nzAllowClear]="false"
  [(ngModel)]="entitiesTableConfig.componentsData.dateRange"
  (ngModelChange)="onTimeChange()"
></nz-range-picker>
<!-- <div class="action-btns" style="margin-left: 11px;">
  <button mat-flat-button color="primary" [disabled]="isLoading$ | async" (click)="entitiesTableConfig.componentsData.exportTableData()">
    {{ 'action.export' | translate }}
  </button>
</div> -->
<div class="interval-data-chart">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="header">
    <div class="title">{{ 'potency.interval-energy-consumption' | translate: { deviceName: entitiesTableConfig.componentsData.deviceName} }}</div>
    <nz-radio-group [(ngModel)]="keyNum" nzSize="small" (ngModelChange)="getIntervalData()">
      <label nz-radio-button nzValue="1">{{ 'potency.water' | translate }}</label>
      <label nz-radio-button nzValue="2">{{ 'potency.electric' | translate }}</label>
      <label nz-radio-button nzValue="3">{{ 'potency.gas' | translate }}</label>
    </nz-radio-group>
  </div>
  <div #chartWrapper class="chart"></div>
</div>