<nz-range-picker
  nzFormat="yyyy/MM/dd"
  nzSize="large"
  [nzDisabledDate]="disabledDate"
  [nzAllowClear]="false"
  [(ngModel)]="entitiesTableConfig.componentsData.dateRange"
  (ngModelChange)="entitiesTableConfig.table.resetSortAndFilter(true)"
></nz-range-picker>
<div class="data-overview">
  <div class="overview-item">{{ 'potency.total-energy-consumption' | translate }}</div>
  <div
    *ngFor="let item of entitiesTableConfig.componentsData.totalValue"
    class="overview-item"
  >{{ item }}</div>
</div>