<mat-form-field>
  <mat-label>{{ 'device-monitor.alarm-status' | translate }}</mat-label>
  <mat-select
    [(ngModel)]="entitiesTableConfig.componentsData.status"
    (ngModelChange)="entitiesTableConfig.table.resetSortAndFilter(true)"
  >
    <mat-option [value]="statusType.ANY">{{ 'common.all' | translate }}</mat-option>
    <mat-option [value]="statusType.ACTIVE_UNACK">{{ 'device-monitor.alarm-status-active-unack' | translate }}</mat-option>
    <mat-option [value]="statusType.ACTIVE_ACK">{{ 'device-monitor.alarm-status-active-ack' | translate }}</mat-option>
    <mat-option [value]="statusType.CLEARED_ACK">{{ 'device-monitor.alarm-status-cleared-ack' | translate }}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>{{ 'device-monitor.alarm-level' | translate }}</mat-label>
  <mat-select
    [(ngModel)]="entitiesTableConfig.componentsData.level"
    (ngModelChange)="entitiesTableConfig.table.resetSortAndFilter(true)"
  >
    <mat-option [value]="levelType.ANY">{{ 'common.all' | translate }}</mat-option>
    <mat-option [value]="levelType.CRITICAL">{{ 'device-monitor.alarm-level-critical' | translate }}</mat-option>
    <mat-option [value]="levelType.MAJOR">{{ 'device-monitor.alarm-level-major' | translate }}</mat-option>
    <mat-option [value]="levelType.MINOR">{{ 'device-monitor.alarm-level-minor' | translate }}</mat-option>
    <mat-option [value]="levelType.WARNING">{{ 'device-monitor.alarm-level-warning' | translate }}</mat-option>
    <mat-option [value]="levelType.INDETERMINATE">{{ 'device-monitor.alarm-level-indeterminate' | translate }}</mat-option>
  </mat-select>
</mat-form-field>
<div class="action-btns">
  <button mat-flat-button color="primary" (click)="entitiesTableConfig.table.resetSortAndFilter(true)">
    {{ 'action.search' | translate }}
  </button>
</div>