<div class="factory-tree" fxLayout="column">
  <div *ngIf="treeData.length === 0" class="empty" fxLayoutAlign="center center">
    <nz-empty
      nzNotFoundImage="../../../../../assets/data-empty.svg"
      nzNotFoundContent="{{ 'common.data-empty' | translate }}"
    ></nz-empty>
  </div>
  <nz-input-group [nzSuffix]="suffixIcon" class="factory-tree-search">
    <input type="text" nz-input placeholder="{{ 'device-mng.search-name' | translate }}" [(ngModel)]="searchValue" />
  </nz-input-group>
  <ng-template #suffixIcon>
    <i nz-icon nzType="search"></i>
  </ng-template>
  <nz-tree
    [nzData]="treeData"
    [nzSearchValue]="searchValue"
    [nzVirtualHeight]="scrollHeight"
    [nzSelectedKeys]="selectedKeys"
    [nzExpandedKeys]="expandedKeys"
    (nzClick)="onClickNode($event)"
  ></nz-tree>
</div>
