.factory-tree {
  height: 100%;
  background-color: #fff;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  .factory-tree-search {
    margin: 16px 16px 0;
    width: calc(100% - 32px);
  }
  ::ng-deep .cdk-virtual-scroll-content-wrapper {
    padding: 16px 5px;
    .ant-tree-title {
      color: rgba(0, 0, 0, 0.87);
    }
    .ant-tree-indent-unit {
      width: 10px;
    }
  }
  .empty {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}