<mat-form-field>
  <mat-label>{{ 'order.order-no' | translate }}</mat-label>
  <input type="text" matInput [(ngModel)]="entitiesTableConfig.componentsData.sOrderNo" (keyup.enter)="entitiesTableConfig.table.resetSortAndFilter(true)" />
  <button
    *ngIf="entitiesTableConfig.componentsData.sOrderNo"
    matSuffix mat-icon-button aria-label="Clear"
    (click)="onClear('sOrderNo')"
  >
    <mat-icon class="material-icons">close</mat-icon>
  </button>
</mat-form-field>
<mat-form-field>
  <mat-label>{{ 'order.order-type' | translate }}</mat-label>
  <input type="text" matInput [(ngModel)]="entitiesTableConfig.componentsData.sOrderTypeName" (keyup.enter)="entitiesTableConfig.table.resetSortAndFilter(true)" />
  <button
    *ngIf="entitiesTableConfig.componentsData.sOrderTypeName"
    matSuffix mat-icon-button aria-label="Clear"
    (click)="onClear('sOrderTypeName')"
  >
    <mat-icon class="material-icons">close</mat-icon>
  </button>
</mat-form-field>
<!-- <mat-form-field *ngIf="env.loginPlatform === 0">
  <mat-label>{{ 'order.factory-name' | translate }}</mat-label>
  <input type="text" matInput [(ngModel)]="entitiesTableConfig.componentsData.factoryName" (keyup.enter)="entitiesTableConfig.table.resetSortAndFilter(true)" />
  <button
    *ngIf="entitiesTableConfig.componentsData.factoryName"
    matSuffix mat-icon-button aria-label="Clear"
    (click)="onClear('factoryName')"
  >
    <mat-icon class="material-icons">close</mat-icon>
  </button>
</mat-form-field> -->
<div class="action-btns">
  <button mat-flat-button color="primary" (click)="entitiesTableConfig.table.resetSortAndFilter(true)">
    {{ 'action.search' | translate }}
  </button>
  <button mat-flat-button color="primary" [disabled]="isLoading$ | async" (click)="entitiesTableConfig.componentsData.exportTableData()">
    {{ 'action.export' | translate }}
  </button>
</div>