<mat-form-field>
  <mat-label>{{ 'order.order-no' | translate }}</mat-label>
  <input type="text" matInput [(ngModel)]="entitiesTableConfig.componentsData.orderNo" (keyup.enter)="entitiesTableConfig.table.resetSortAndFilter(true)" />
  <button
    *ngIf="entitiesTableConfig.componentsData.orderNo"
    matSuffix mat-icon-button aria-label="Clear"
    (click)="onClear('orderNo')"
  >
    <mat-icon class="material-icons">close</mat-icon>
  </button>
</mat-form-field>
<mat-form-field>
  <mat-label>{{ 'order.order-type' | translate }}</mat-label>
  <input type="text" matInput [(ngModel)]="entitiesTableConfig.componentsData.type" (keyup.enter)="entitiesTableConfig.table.resetSortAndFilter(true)" />
  <button
    *ngIf="entitiesTableConfig.componentsData.type"
    matSuffix mat-icon-button aria-label="Clear"
    (click)="onClear('type')"
  >
    <mat-icon class="material-icons">close</mat-icon>
  </button>
</mat-form-field>
<mat-form-field>
  <mat-label>{{ 'order.factory-name' | translate }}</mat-label>
  <input type="text" matInput [(ngModel)]="entitiesTableConfig.componentsData.factoryName" (keyup.enter)="entitiesTableConfig.table.resetSortAndFilter(true)" />
  <button
    *ngIf="entitiesTableConfig.componentsData.factoryName"
    matSuffix mat-icon-button aria-label="Clear"
    (click)="onClear('factoryName')"
  >
    <mat-icon class="material-icons">close</mat-icon>
  </button>
</mat-form-field>
<div class="action-btns">
  <button mat-flat-button color="primary" (click)="entitiesTableConfig.table.resetSortAndFilter(true)">
    {{ 'action.search' | translate }}
  </button>
</div>