<mat-tab *ngIf="entity" #alarmRules="matTab"
         label="{{'device-profile.alarm-rules-with-count' | translate:
            {count: this.detailsForm.get('profileData.alarms').value?.length ? this.detailsForm.get('profileData.alarms').value.length : 0}
          }}">
  <div class="mat-padding" [formGroup]="detailsForm" *ngIf="alarmRules.isActive">
    <div formGroupName="profileData">
      <tb-device-profile-alarms formControlName="alarms" [deviceProfileId]="entity.id"></tb-device-profile-alarms>
    </div>
  </div>
</mat-tab>
