<div [ngClass]="{'mat-padding': !standalone}" fxLayout="column">
  <form [formGroup]="entityForm">
    <fieldset [disabled]="(isLoading$ | async) || !isEdit" style="min-width: 0;">
      <mat-form-field class="mat-block">
        <mat-label translate>device-profile.name</mat-label>
        <input matInput formControlName="name" required/>
        <mat-error *ngIf="entityForm.get('name').hasError('required')">
          {{ 'device-profile.name-required' | translate }}
        </mat-error>
      </mat-form-field>
      <!-- <mat-form-field [fxShow]="isEdit || entityForm.get('dictDeviceIdList').value.length === 0" class="mat-block">
        <mat-label translate>device-mng.device-dic</mat-label>
        <mat-select formControlName="dictDeviceIdList" multiple>
          <mat-option *ngFor="let option of deviceDictionaries" [value]="option.id">{{option.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="!isEdit && entityForm.get('dictDeviceIdList').value.length > 0" class="device-dic-info">
        <div class="device-dic-label">{{ 'device-mng.device-dic' | translate }}</div>
        <div *ngFor="let item of entityForm.get('dictDeviceIdList').value" class="device-dict-item">{{ deviceDictionariesMap[item].name }}</div>
        <div class="dot-underline"></div>
      </div> -->
      <mat-form-field class="mat-block">
        <mat-label translate>device-profile.description</mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>
      <mat-form-field *ngIf="standalone" class="mat-block">
        <mat-label translate>device-profile.transport-type</mat-label>
        <mat-select formControlName="transportType" required>
          <mat-option *ngFor="let type of deviceTransportTypes" [value]="type">
            {{deviceTransportTypeTranslations.get(type) | translate}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="entityForm.get('transportType').hasError('required')">
          {{ 'device-profile.transport-type-required' | translate }}
        </mat-error>
      </mat-form-field>
      <div formGroupName="profileData" *ngIf="standalone" style="padding-bottom: 16px;">
        <mat-accordion multi="true">
          <mat-expansion-panel *ngIf="displayProfileConfiguration" [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div translate>device-profile.profile-configuration</div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <tb-device-profile-configuration
                formControlName="configuration"
                required>
              </tb-device-profile-configuration>
            </ng-template>
          </mat-expansion-panel>
          <mat-expansion-panel *ngIf="displayTransportConfiguration" [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div translate>device-profile.transport-configuration</div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <tb-device-profile-transport-configuration
                formControlName="transportConfiguration"
                required>
              </tb-device-profile-transport-configuration>
            </ng-template>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div>{{'device-profile.alarm-rules-with-count' | translate:
                  {count: entityForm.get('profileData.alarms').value ?
                      entityForm.get('profileData.alarms').value.length : 0} }}</div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <tb-device-profile-alarms
                formControlName="alarms"
                [deviceProfileId]="deviceProfileId">
              </tb-device-profile-alarms>
            </ng-template>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div translate>device-profile.device-provisioning</div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <tb-device-profile-provision-configuration
                formControlName="provisionConfiguration">
              </tb-device-profile-provision-configuration>
            </ng-template>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </fieldset>
  </form>
</div>
